.root{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap_form {
  width: 700px;
  box-shadow: 1px 2px 10px #000000;
  border-radius: 5px;
  padding: 40px 20px;
}