.img {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  text-align: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #000;
  background-image: url("./hp1.jpg");
}
.img2 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  text-align: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #000;
  background-image: url("./hp2.jpg");
}
.img:after,.img2:after {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  background-image: linear-gradient(to top, rgba(0,0,0,0.70), rgba(0,0,0,0.70));
}
