@font-face {
    font-family: 'harry' ;
    src: url('./harry.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}
body{

    font-family: 'harry';
    letter-spacing: 7px;
    text-shadow:20px 0px 0px 20px #000000;

}
#hp,#inst {


    font-size: 100px;
    color: #efe106;

}
