.container{
  width: 1000px;
  height: 320px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  z-index: 2;

}
.form{
  margin-bottom: 20px;
  z-index: 2;
}