.cover {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  text-align: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #000;
  background-image: url("./hog1.jpg");
}

.cover:after {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background-image: linear-gradient(to top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));
}

.cover .wrap {
  position: relative;
  z-index: 1;
  padding: 100px 16px;
  max-width: 1024px;
}

.cover .header {
  font-size: 68px;
  color: white;
  padding: 24px 0;
}

.cover .descr {
  color: white;
  padding: 15px 0 30px 0;
  font-size: 20px;
  line-height: 1.55;
}
