.dFlex{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 33%;
  padding: 20px;

}
.iconBlock{
  background: #fff;
  font-size: 25px;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flexColumn{
  flex-direction: column;
}
.card {
  font-size: 18px;
  text-align: center;

  cursor: pointer;
  perspective: 1000px;
  height: 50px;
  width: 170px;
  display: block;
  margin-right: 12px;
  

  &.open{
    .cardInner {
      transform: rotateY(180deg);
    }
  }
}

.cardInner {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.isRemembered{
  .cardFront,
  .cardBack{
    text-decoration: line-through;
  }
}

.cardFront, 
.cardBack {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height:  60px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 6px 12px;
}

.cardFront {
  font-size: 26px;
  background-color: #fff;
  color: black;
}

.cardBack {
  background-color: #000;
  color: white;
  margin-left: -24px;
  transform: rotateY(180deg);
}